/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #495e57;
    color: white;
    justify-content: space-around;
    padding: 16vh 20vw;
}

/* Footer Label */
.footer label {
    color: #f4ce14;
}

/* Footer Listing and Image */
.listing,
.footImg {
    width: 150px;
}

/* List Items */
li {
    list-style: none;
}

/* Links */
li > a,
li > Link {
    transition: font-weight 200ms ease-in-out;
}

/* Hover Effect for Links */
li > a:hover,
li > Link:hover {
    font-weight: 900;
}

/* Media Query for Mobile Devices */
@media (max-width: 650px) {
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 8vh 5vw;
    }
    .listing,
    .footImg {
        width: 100px;
        margin-bottom: 2vh;
    }
    li {
        margin-bottom: 1vh;
    }
}
