footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
  font-size: 1em;
  color: #666;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}
